NODE_ENV=development
DATABASE_URL=postgres://user:password@localhost:5432/pkba
S3_ENDPOINT=https://s3.amazonaws.com
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=replace_me
S3_SECRET_ACCESS_KEY=replace_me
S3_BUCKET=pkba-reports
S3_FORCE_PATH_STYLE=false
WORKER_POLL_INTERVAL_MS=3000
JOB_TIMEOUT_SECONDS=120
